body{
    margin: 0%;
    padding: 0%;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 0;
}


.main{
    /* background-color: aqua; */
    width: 1150px;
    margin-left: 100px;
    margin-top: -30px;
    margin-bottom: 150px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.main button{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: grey;
    border: 1px solid grey;
    border-bottom: 1px solid rgb(97, 97, 97);
    color: white;
    font-weight: 700;
}

.main p{
    padding: 20px;
}


.FAQs{
    padding: 70px;
    margin-left: 40px;
    font-size: 40px;
}