
* {
    padding: 0%;
    margin: 0%;
}


footer{
    display: flex;
    background-color: aquamarine;
    gap: 4rem;
}

footer section{
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 9.6rem;
}

footer section a{
    font-size: 0.9rem;
}

footer section h4{
    margin-left: -30px;
}