* {
    padding: 0%;
    margin: 0%;
}



header {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.3rem;
}

header .user-img{
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

header h3{
    margin-left: 3rem;
}

header .user-img h4{
    margin-right: 2rem;
}

header .user-img i{
    background-color: black;
    color: white;
    padding: 0.4rem;
    border-radius: 1rem;
}

nav {
    display: flex;
    /* justify-content: spa; */
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-bottom: 1rem;
}

#logo {
    /* width: 10erm;     */
    height: 10rem;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 20rem;
}

input {
    height: 3rem;
    width: 30rem;
    margin-right: -3rem;
    margin-left: 14rem;
    border-radius: 2rem;
    border: 0.1rem solid rgb(11, 136, 185);
    padding: 1.2rem;
}

button{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 2rem;
    border: 0.1rem solid rgb(11, 136, 185);
    background-color: rgb(11, 136, 185);
    color: white;
}

#add-cart {
    text-decoration: none;
    font-size: 1rem;
    background-color: rgb(11, 136, 185);
    padding: 0.7rem;
    color: rgb(255, 255, 255);
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    margin-left: 18rem;
    /* border: 0.1rem solid rgb(11, 136, 185); */
}

nav h4{
    background-color: rgb(11, 136, 185);
    padding: 11px;
    color: white;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}

nav h5{
    position: relative;
    background-color: brown;
    color: white;
    padding: 0.3rem;
    width: 0.8rem;
    border-radius: 1rem;
    right: 8.5rem;
    bottom: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}